:root {
  --main-bg-color: #f1daf1;
}

body {
  padding: 0;
  margin: 0;
  background: var(--main-bg-color);
  font-family: "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  position: relative; 
}


@media (max-width: 600px) {
  .acorn {
    left: 10px;
    bottom: 10px;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }
}

a:link {
  color: blue;
}

a:visited {
  color: pink;
}

a:hover {
  color: black;
}

#left_link {
  position: absolute;
  left: 2%;
  bottom: 68%;
  z-index: 99;
}

#right_link {
  position: relative;
  left: 25%;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 3fr);
  gap: 10px 20px;
  position: relative;
  top: 200px;
}

.content-item {
  background-color: var(--main-bg-color);
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  height: 100px;
}

.content-image {
  width: 100%;
}


h1 {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  font-size: 2rem; 
  text-align: center;
}

.acorn {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
