#wholepage{width: 1200px; margin-left: auto; margin-right: auto;}

body {padding:0; margin:0; background: #f1daf1; font-family:"Times New Roman" serif;}
img {width: 100px; height: 100px;}
.element {
  float: left ;
  
}
