body {  
  padding: 20px;  
  margin: 0;  
  background: #f1daf1;  
  font-family: "Times New Roman";  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 150vh;  
  width: 100vw; 
  overflow: auto; 
}
  
img { "acorn1"  
  position: fixed;  
  bottom: 20px;  
  left: 20px;  
   z-index: -1;  
  width: 50px;  
  height: 50px;  
}
